{% comment %}
  login / contents 用共通 head
  pathPrefix 設定時は pathPrefix/assets/、未設定時は ../assets/
{% endcomment %}
{% if pathPrefix != '' and pathPrefix != nil %}
  {% assign login_asset_base = pathPrefix | append: '/' %}
{% else %}
  {% assign login_asset_base = '../' %}
{% endif %}
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta content="試供品,無料,お試し,プレゼント,モラタメ" name="Keywords">
    <meta name="Description" content="試供品や新商品がもらえる・ためせる、プレゼント＆クチコミサイト！お得に話題の商品をためせて、ポイントもたまる♪" />

    <title>{{ page_title }}</title>
    <script src="{{ login_asset_base }}assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ login_asset_base }}assets/js/clips.js"></script>
    <script type="text/javascript" src="{{ login_asset_base }}assets/js/helper-sp.js"></script>

    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/html5-doctor-reset-stylesheet.min.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/common.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/style.3078.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/style--sp.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/module.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/style--common-sp-and-pc.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/reset-old-style--jp.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/style--common-sp-and-pc-2.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/footer-common.css" />

    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/style--pc.css" />
    <link rel="stylesheet" type="text/css" href="{{ login_asset_base }}assets/css/t.css">
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/t-sample.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/style.css" />
    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/utilities.css" />

    <link rel="stylesheet" href="{{ login_asset_base }}assets/vendor/fontawesome/css/all.css">

    <script src="{{ login_asset_base }}assets/js/inputimg.js"></script>

    <link rel="stylesheet" href="{{ login_asset_base }}assets/css/p9255-top--sp.css" />

    {{ head_extra }}
  </head>
