{% comment %}
  ページの階層に応じてマイページリンクの相対パスを算出（footer.liquid と同様）
  page.url: / または /detail/moraulist.html など（.html フラット出力）
{% endcomment %}
{% if page.url contains 'mymenu' %}
  {% assign mymenu_href = 'basic.html' %}
  {% assign asset_base = '../' %}
{% else %}
  {% assign path_segments = page.url | split: '/' %}
  {% assign seg_count = path_segments | size %}
  {% assign depth = seg_count | minus: 1 %}
  {% if depth < 0 %}
    {% assign depth = 0 %}
  {% endif %}
  {% if depth == 0 %}
    {% assign mymenu_href = 'mymenu/basic.html' %}
    {% assign asset_base = '' %}
  {% elsif depth == 1 %}
    {% assign mymenu_href = '../mymenu/basic.html' %}
    {% assign asset_base = '../' %}
  {% else %}
    {% assign mymenu_href = '../../mymenu/basic.html' %}
    {% assign asset_base = '../../' %}
  {% endif %}
{% endif %}

      <!-- 共通ヘッダー -->
      <div class="p-masthead">
        <div class="l-conteiner">
          <header>
            <div class="p-masthead__top_box header-contents">
              <div class="p-masthead__top">
                <!-- topBanner_pc -->
                <div class="p-masthead__banner pc">
                  &nbsp;
                </div>
                <!-- topMenu_pc -->
                <div class="p-masthead__labels-sns-btns-wrap pc">
                  <div class="p9225-masthead__buttons">
                    <ul class="p-masthead__labels announce-container">
                      <li>
                        <a class="c-label--masthead" href="https://stg.tsample.tsite.jp/mymenu/basic.php">マイページ</a>
                      </li>
                      <li>
                        <a class="c-label--masthead" href="https://stg.tsample.tsite.jp/contents/logout.php">ログアウト</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /topMenu_pc -->
                <!-- topMenu_sp -->
                <div class="sp-header-menu sp">
                  <div class="sp-header-menu_component sp-header-menu_component-mymenu">
                    <a href="https://stg.tsample.tsite.jp/mymenu/basic.php"><img alt="マイページ" src="{{ asset_base }}assets/images/btn-mymenu.png"></a>
                  </div>
                  <div class="sp-header-menu_component sp-header-menu_component-logout">
                    <a href="https://stg.tsample.tsite.jp/contents/logout.php"><img alt="ログアウト" src="{{ asset_base }}assets/images/btn-logout.png"></a>
                  </div>
                  <div class="sp-header-menu_component sp-header-menu_component-hbg" id="menu_btn">
                    MENU
                  </div>
                </div>
                <!-- /topMenu_sp -->
              </div>
            </div>
          </header>
          <!-- HBGmenu_Open -->
          <div id="menu">
            <ul>
              <!-- category -->
              <li class="menu__item">
                <a class="menu__item__link js-menu__item__link" href="">カテゴリ</a>
                <ul class="submenu" style="display: none;">
                  <li class="t-sidemenu-sub-ttl">ためせる・もらえる</li>
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=4e058"><img src="{{ asset_base }}assets/images/ico21.png" width="18" height="18" alt="">食品（9）</a></li>
                  <li class="t-sidemenu-sub-ttl">マイページ</li>
                  <li><a href="{{ mymenu_href }}">マイページ</a></li>
                </ul>
              </li>
              <a href="https://stg.tsample.tsite.jp/detail/category.php?category=7b664">
                <li>家族配送（4）</li>
              </a>
              <!-- /category -->
              <a href="https://www.moratame.net/contents/about.php">
                <li>モラタメとは</li>
              </a>
              <a href="https://www.moratame.net/wp/cs/">
                <li>FAQ</li>
              </a>
              <a href="https://www.moratame.net/wp/cs/">
                <li>モラタメ事務局へのお問い合わせ</li>
              </a>
              <a href="https://www.moratame.net/contents/syounin.php">
                <li>モラタメ利用規約</li>
              </a>
              <a href="https://stg.tsample.tsite.jp/contents/trade/index.php">
                <li>特定商取引表示</li>
              </a>
            </ul>
          </div>
          <div class="menu-background"></div>
          <!-- /HBGmenu_Open -->

          <!-- accordion-menu -->
          <script>
            $(function () {
              $('.js-menu__item__link').each(function () {
                $(this).on('click', function () {
                  $(this).toggleClass('on');
                  $('+.submenu', this).slideToggle();
                  return false;
                });
              });
              $('.p-masthead__soon').on('click', function () { $('#p-masthead__soon').toggle(); });
              $(document).on('click', '.s_boxHeadline', function () { $('#p-masthead__soon').css('display', 'none'); });
            });
          </script>
          <!-- /accordion-menu -->

          <!-- topTabMenu_pc -->
          <ul class="p-masthead__nav p-masthead__nav_toppage">
            <li class="p-masthead__nav__top">
              <a href="https://stg.tsample.tsite.jp/">トップ</a>
            </li>
            <li class="p-masthead__nav__tame">
              <a href="https://stg.tsample.tsite.jp/detail/tamesulist.php">ためせる</a>
            </li>
            <li class="p-masthead__nav__mora">
              <a href="https://stg.tsample.tsite.jp/detail/moraulist.php">もらえる</a>
            </li>
            <li class="p-masthead__nav__mise">
              <a href="{{ mymenu_href }}">マイページ</a>
            </li>
          </ul>
          <!-- /topTabMenu_pc -->
        </div>
      </div>
      <!-- //p-masthead -->
