{% comment %}
  共通 head ブロック
  pathPrefix が設定されているとき（GitHub Pages デプロイ時）は常に pathPrefix/ をアセットの先頭に付与
{% endcomment %}
{% if pathPrefix != '' and pathPrefix != null %}
  {% assign asset_base = pathPrefix | append: '/' %}
{% elsif page.url contains 'mymenu' %}
  {% assign asset_base = '../' %}
{% else %}
  {% assign path_segments = page.url | split: '/' %}
  {% assign seg_count = path_segments | size %}
  {% assign depth = seg_count | minus: 1 %}
  {% if depth < 0 %}
    {% assign depth = 0 %}
  {% endif %}
  {% if depth == 0 %}
    {% assign asset_base = '' %}
  {% elsif depth == 1 %}
    {% assign asset_base = '../' %}
  {% else %}
    {% assign asset_base = '../../' %}
  {% endif %}
{% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="主婦に嬉しい食品・日用品がもらえる・ためせるお試しサイト！お得に商品が試せて、更にシェアフルポイントを貯めることもできます。">
<meta name="keywords" content="シェアフルモニター,シェアフルポイント,プレゼント,試供品,無料,サンプリング">

<title>{{ page_title }}</title>

<link rel="shortcut icon" href="{{ asset_base }}assets/images/v-samplefavicon.png">
<link rel="apple-touch-icon-precomposed" href="{{ asset_base }}assets/images/v-sample_touch_icon.png">

{% if page_use_bootstrap %}
  <link rel="stylesheet" href="{{ asset_base }}assets/css/bootstrap.v3.3.7--scope.css">
{% endif %}
<link rel="stylesheet" href="{{ asset_base }}assets/css/reset.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/main.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/layout.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/module.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/style--common-sp-and-pc.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/reset-old-style--jp.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/style--pc.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/style--sp.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/t.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/t-sample.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/p9255-common--pc.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/footer-common.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/components.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/style.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/utilities.css">
<link rel="stylesheet" href="{{ asset_base }}assets/css/tailwind.build.css">
<link rel="stylesheet" href="{{ asset_base }}assets/vendor/fontawesome/css/all.css">

<script src="{{ asset_base }}assets/vendor/ajaxzip3/ajaxzip3.js"></script>
<script src="{{ asset_base }}assets/vendor/jquery/jquery-3.2.1.min.js"></script>

{{ head_extra }}
